<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="bg-dark text-white p-4 text-center">Cascaded Multi Dropdown</h2>
      <form>
        <div class="form-group">
          <label>Select Product</label>
          <select class="form-control" (change)="getProductSubCategory($event)">
            <option *ngFor="let data of products['products']" value="{{ data.id }}">{{ data.product_name }}</option>
          </select>
        </div>

        <div class="form-group">
          <label>Select Subcategory</label>
          <select class="form-control">
            <option *ngFor="let data of subCat">{{ data.title }}</option>
          </select>
        </div>
      </form>
    </div>
  </div>
</div>
