<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Form control: select</h2>
      <form>
        <div class="form-group">
          <label for="sel1">Select Grocery</label>
          <select class="form-control" (change)="onSelect($event)">
            <option *ngFor="let data of items" value="{{ data.id }}">{{ data.name }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="sel1">Select Item</label>
          <select class="form-control" id="sel1">
            <option *ngFor="let data of subCat">{{ data.name }}</option>
          </select>
        </div>
      </form>
    </div>
  </div>
</div>
