<div class="container">
  <h2 class="bg-dark text-white p-4 text-center">Cascaded Multi Dropdown in Angular</h2>
  <div class="row">
    <div class="col-md-8">
      <form>
        <div class="form-group">
          <select name="selectedProduct.id" class="form-control" (change)="onSelect($event)">
            <option value="0">Select Product</option>
            <option *ngFor="let data of products['products']" value="{{ data.id }}">{{ data.label }}</option>
          </select>
        </div>

        <div class="form-group mt-4">
          <select class="form-control">
            <option value="0">Select Subcategory</option>
            <option *ngFor="let data of subCat" value="{{data.id}}">{{ data.title }}</option>
          </select>
        </div>
      </form>
    </div>
  </div>
</div>
